* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-height: 100vh;
    /* background-image: url(../img/bgc-home.jpg); */
    background: #333;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Bebas Neue', cursive;
}

.dashboard-header {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 3rem 0 3rem;
}

.header-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    margin-right: 2rem;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
}

.profil-img-account {
    height: 5rem;
    width: 5rem;
    /* background-color: #999; */
    background-image: url(../img/profil.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}







.search-area {
    margin-top: 10rem;
    margin-left: 5rem;
}

input {
	outline: none;
}

input {
    width: 50%;
    padding: 12px 24px;
    background-color: transparent;

    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
}

input {
    color: #575756;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}


input placeholder {
    color: color(#575756 a(0.8));
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

input:hover{
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
}

input:focus{
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
}






.watchlist-container {
    margin: 10rem 0 5rem 5rem;
}

.watchlist-title {
    font-size: 5em;
}

.watchlist {
    margin-top: 3rem;
    display: flex;
    /* justify-content: center; */
}

.selection {
    height: 14rem;
    width: 9rem;
    /* background-color: #f1f1f1; */
    border-radius: 10px;
    margin-right: 1.5rem;
    margin-bottom: 5rem;
    background-image: url(../img/CasablancaPoster-Gold.jpg);
    background-size: cover;
}